body {
  font-family: Arial, sans-serif;
}

input {
  margin-bottom: 10px;
  padding: 5px;
  font-size: 16px;
}

button {
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #0062cc;
  cursor: pointer;
}